# Python 3 Introductory Workshop

### Topics
    - Why Python?
    - Variables
    - Operators
    - Collections
    - Conditionals
    - Loops

### Why Python?
Python is known for being one of the most versitile and easy to use languages
    
    - Simple syntax makes it easy to learn
    - Easy and intuitive to read, even with minimal programming knowledge
    - Great for prototyping and quickly writing working code
    - Portable across systems; As long as Python is installed it will run on any operting system
    
Popular uses for Python include

    - Mathematics and Big Data
        Packages used for reading, manipulating, and analyzing data quickly(Numpy, Pandas)
    - Data Visualization
        Packages used for visualizing data on plots, graphs (Matplotlib, Plotly)
    - Simple Scripting
        Writing a functional program that performs an individual task (rasberry pi)

### Variables

We need to be able to remember information for later, to do this we use variables.
we can assign a variable a value with =

Here, we're going to look at 4 variable types:
    
    -integers
    -floats
    -strings
    -booleans

Python is a "dynamically typed language"

This means that we do not need to declare variable types, or tell the computer what type they are, we just trust Python to keep track for us.

##### Integers

integers; positive or negative numbers WITHOUT decimal places - the same as in math

If we want to see the value stored in a variable, we can use the built-in print( ) function.

The print() function will show us whatever is inside the ( ) to our console, for Colab, the console will appear below our code blocks

In [4]:
a_int = 6
print(a_int)

6

#### Floats
floating point numbers; numbers WITH decimal places.

In [5]:
a_float = 6.6
print(a_float)

6.6

##### Strings
sequence of characters surrounded by "" or ''

In [6]:
a_string = "hello"
b_string = "17"
# Double quoted strings ("") can have single quotes ('') in them
# Single quoted strings can have double quotes in them
c_string = 'This is a pair of of "double quotes" in a string.'

We can access strings with [ ] with 0 being the first character and -1 being the last.
[:] will also give us a range of characters

In [7]:
a_string = "hello"
print(a_string[0]) # h
print(a_string[-1]) # o
print(a_string[1:4]) #this will return the 3 characters including character 1 but not character 4

h
o
ell

##### Booleans
True / False values with the first letter capitalized

In [8]:
#used in IF-conditionals such as checking if a variable is a specific datatype, if an integer is a specific number, etc

a_bool = True # any non-zero number as a boolean will be cast to True
b_bool = False # 0 will be cast to False

a_string = "hello" # assignment (=)
print(a_string == 'hello') # True
print(a_string == 'gatech') # False

True
False

If we want to make a variable but have nothing in it, not even the value 0, we use None. This gets helpful in some more advanced programs, but for the basics, just know it exists. 
It is a useful thing to check when passing variables to different functions to ensure that input is correct. You always want to check that your input is not None and that it is not outside the bounds of what you need it to be for that function to ensure that someone can't break your code.

In [9]:
a_var = None

If we want to know the type of a variable, we can use the type( ) function

In [10]:
print(type(a_int), a_int)
print(type(1)) # integer
print(type("hello")) # string

print(type(a_float), a_float)
print(type(a_string), a_string)
print(type(a_bool), a_bool)
print(type(a_var), a_var)

<class 'int'> 6
<class 'int'>
<class 'str'>
<class 'float'> 6.6
<class 'str'> hello
<class 'bool'> True
<class 'NoneType'> None

You can name a variable almost anything you want with just a few rules

    - can't start a variable name with numbers
    - can't have a space in a variable name
    
You should generally follow a few guidelines as well

    - start a variable name with a lowercase letter
    - keep them descriptive

### Operators

Operators let us do things with variables and values, we've already seen one: =

The basic operators to know are
    
    assignment: =
    addition/concatenation: +
    subtraction: -
    multiplication: *
    floating point division: /
    integer division: //
    modulo: %
    exponentiation: **
    comparisons: <, <=, >, >=, !=, ==
    Boolean Operations: or, and, not

When we use + on two numbers, it works as addition just like in math, we can even use variables or even mix and match

In [11]:
print(a_int + a_float) # a_int = 6, a_float = 6.6
print(3 + a_int) # a_int = 6

12.6
9

In [12]:
# Anything that comes after a # on the same line is a comment
# Python ignores it, but it lets us humans take notes on what we did

When we use + on two strings, it concatenates them, we can use them with variables, strings, or both. + won't add spaces between strings though, so we have to do it manually.

In [13]:
print(a_string + b_string)
print(a_string + "\n" + b_string)
print(a_string + "\t" + b_string)
print(a_string + " " + b_string)

hello17
hello
17
hello	17
hello 17

We can't mix and match strings and numbers though, if we want to, we have to "cast" them with Pythons built-in casting system.

In [14]:
#checking for types is useful for debugging
# print(4 + 'hello') causes an error

value = 4
print(value, type(value))

value = float(value) # type-casting from integer to float 
print(value, type(value))

value = str(value) # type-casting from float to string
print(value, type(value))

value = bool(value) # type-casting from string to boolean
print(value, type(value))

4 <class 'int'>
4.0 <class 'float'>
4.0 <class 'str'>
True <class 'bool'>

In [15]:
# print(a_string + " " + value + " " + b_string) raises an error because value is a boolean type variable
print(a_string + " " + str(value) + " " + b_string) # type-casting to string

hello True 17

Subtraction (-) works the same way as addition, but only works with numerical vaules

In [16]:
print(a_float) # a_float = 6.6
print(a_float - a_int) # a_int = 6
# There is a floating point precision error 
# It is not a bug, but typical result of handling floating-points

6.6
0.5999999999999996

Multiplication operator (*)

In [17]:
print(5 * 3)
print(a_string * 3) # a_string = "hello"
# what would you do to get the string "hello hello hello"

print(2**4)

15
hellohellohello
16

Division 
- floating point division: /
- integer division: //

Modulo (%)

In [18]:
print(5 / 3)
print(5 // 3) # this will drop the decimal part and floor it
print(5 % 3) # this gives us the remainder

1.6666666666666667
1
2

Comparison operators

In [19]:
# Comparison operators returning bools
# its worth taking extra care: == is equals. = is assignment.

print(5 < 3)
print(5 > 3)
print(5 >= 5) # greater than or equal to
print(5 <= 4) # less than or equal to
print(5 != 4) # not equals
print(5 == 5) # equality!

False
True
True
False
True
True

In [20]:
# IS can be used to test the identity of OBJECTS
# this is different from equality because it will check if its the exact same object
int_a = 1
string_a = "1"
int_b = 1
print (int_a is string_a)
print(int_a is int_b)

False
True

In [21]:
# boolean values can be combined using or, and, & not

# OR returns True if either one is True
print(True or False)
print(False or False)

# AND returns True only if both are True
# Something cannot be be True AND False at the same time
print(True and False)
print(False and False)
print(True and True)

# NOT returns the opposite value (flip a boolean value)
print(not True)
print(not False)

True
False
False
False
True
False
True

### Collections

A lot of the time, we will be working with a lot of numbers, and we need some way to arrange those numbers that make sense. Python has a good range of collections to help us with this, the four most useful being:

    - Sets
    - Lists
    - Tuples
    - Dictionaries

###### Sets

Sets are just like sets in math, they are a grouping of information that is NON-ORDERED and DO NOT CONTAIN DUPLICATES

In [22]:
# There is only one way to make an empty set
a_set = set()
# We can make one with information already in it if we want
a_set = {"dog", "fish", 42}
b_set = set()

# to add to a set we use the Set.add() function
a_set.add("3")
a_set.add("dog")

print(a_set)
print(b_set) # empty set

{'dog', 42, 'fish', '3'}
set()

In [23]:
# Time for a new operator, "in"
# We can check to see if something is in our set using the "in" operator
print("dog" in a_set)

# we can remove from the set with Set.remove()
a_set.remove("dog")

print("dog" in a_set)
print(a_set)

True
False
{42, 'fish', '3'}

###### Lists

Now we'll talk about lists
Lists are great when we have some ordered data we want to save

In [24]:
# There are two ways to make an empty list (I recommend the first)
a_list = list()
a_list = []
# We can make one with information already in it if we want
a_list = [1,2,3,"dog","cat","fish","dog"]

# We can access a list just with []
print(a_list[2])
a_list[2] = "kitten"
print(a_list)

3
[1, 2, 'kitten', 'dog', 'cat', 'fish', 'dog']

In [25]:
# We can add to the end of a list with List.append()
a_list.append("mouse")
a_list.insert(3, "hello") # add hello to the location of index 3
print(a_list)

# We can remove an item using List.remove()
a_list.remove("kitten")
print(a_list)

[1, 2, 'kitten', 'hello', 'dog', 'cat', 'fish', 'dog', 'mouse']
[1, 2, 'hello', 'dog', 'cat', 'fish', 'dog', 'mouse']

In [26]:
# There are a few ways to remove from a list
# List.pop() will remove and return the value at the LOCATION we want
# we can save it to a variable for later!
popped = a_list.pop(2)
print(popped)

# if we dont specify, the LAST element will be removed
a_list.pop()
print(a_list)

hello
[1, 2, 'dog', 'cat', 'fish', 'dog']

In [27]:
# If we know a value and want to remove THE FIRST OCCURRENCE in our list,
# we can use List.remove()
# since we already know what we want to get rid of, List.remove() doesnt return anything
a_list.remove("dog")
print(a_list)

[1, 2, 'cat', 'fish', 'dog']

###### Tuples

Next we'll touch on Tuples
We use tuples when we have a small amount of ordered data we want to save

In [28]:
# Theres only one way to make tuple
a_tup = (1, 2, 3, "dog")

# just like with a string and a list, we can access a tuple using []

print(a_tup[1]) # remember we count from 0 in Python programming!

2

Once we make a tuple, we can't change it. This is the reason we would pick a tuple over a List.
If we want to change it, we have to make a new tuple
we can however, assign that tuple to the same variable as the old one

In [29]:
a_tup = (1,2,3,"dog") # so things don't break if you re-run

# a_tup[1] = 1 # Python yells at us!

b_tup = (a_tup[0], "cat", a_tup[2], a_tup[3], "dog")

print(a_tup)
print(b_tup)

(1, 2, 3, 'dog')
(1, 'cat', 3, 'dog', 'dog')

###### Dictionaries

Dictionaries have information stored in Key:Value pairs, it lets us associate data with other data rather than just an index (or location)

In [30]:
# There are two ways to make an empty dictionary
a_dict = dict()
a_dict = {}

# If we want to make one with information already in it
a_dict = {"StudentNo":5555, "major":"Computer Science"}
print(a_dict)

# We can add to the dictionary by defining a NEW KEY
a_dict['name'] = 'Derek'
print(a_dict)

# If the key is already in the dictionary, we OVERWRITE the old data, its gone forever
a_dict['StudentNo'] = 7777

print(a_dict)

{'StudentNo': 5555, 'major': 'Computer Science'}
{'StudentNo': 5555, 'major': 'Computer Science', 'name': 'Derek'}
{'StudentNo': 7777, 'major': 'Computer Science', 'name': 'Derek'}

In [31]:
# If we know a key, we can go ahead and get the value from it
# If we want to save it for later we can store in in a variable
print(a_dict["StudentNo"])
a_major = a_dict['major']

# If we don't know a key, we can get a list of keys back!
print(a_dict.keys())
print(a_dict.values())

# If we want to remove something from the dictionary we use Dict.pop()
# we need to tell it what key we want removed
# it gives us the databack to save
popped = a_dict.pop("major")
print(a_dict)

7777
dict_keys(['StudentNo', 'major', 'name'])
dict_values([7777, 'Computer Science', 'Derek'])
{'StudentNo': 7777, 'name': 'Derek'}

In [32]:
b_dict = {"StudentNo":3333, "major":"Computer Engineering"}
list_student = [a_dict, b_dict]
print(list_student)

[{'StudentNo': 7777, 'name': 'Derek'}, {'StudentNo': 3333, 'major': 'Computer Engineering'}]

Tuples, Lists, Sets, and Dictionaries can hold any and all kinds of data we want. So we can put a List inside a List, a Dictionary inside a Dictionary, or a List inside a Set. Though its best to avoid doing this unless you need to.

### Aside: Code Blocks and Control Flow
Python seperates code into (possibly nested) blocks through indentation / whitespace. These blocks get executed or skipped as a single unit.

Georgia Tech's CS Classes prefer (and I recommend) an intentation level of 4 spaces as the standard indentation level.

This is a complex topic; We'll explore and visualize code blocks and their execution as we discuss conditionals and loops in the following section.

### Conditionals

Conditional statements are used to execute a certain command only if certain requirements are met.

The basic conditionals are if, elif, and else.

ifs are interpreted from start to end, so it will first interpret the if statement, then move to elif in the order they were written, then finally the else (note: elif and else ARE NOT required)

In [33]:
print(a_tup)

(1, 2, 3, 'dog')

We end the line containing the conditional with a :
The : tells python that the next line should be a nested block of code; our print() statement in this case.

The elif conditional is only evaluated if the original if statement fails.
the else conditional is only evaluated if both the original if statement and all elifs between fail.

Because the blocks of code associated with the elif conditional and the else conditional, we skip them as well.

In [34]:
#allows you to layer out your logic
#allows you do different things with different parts of your data
if "dog" in a_tup:
    print("bark")
elif "cat" in a_tup:
    print("meow")
else:
    print("I am not a dog or cat")

bark

In [35]:
if "dog" in a_tup:
    # since there is an if directly after this, this if statement stands alone
    print("bark")
if "mouse" in a_tup:
    print("squeak")
else:
    # This else statement belongs to the If Directly above it. The first if is independent
    print("I am not a dog or a mouse")
# therefore both the first if, and the else statement are executed.

bark
I am not a dog or a mouse

### For loops:
Probably the most powerful tool in a programming language is the ability to interate over every item with one statement this is done using for loops Python has a very simple method for writing for loops

In [36]:
# x is representing an item in the list
a_list = [1,2,3,"dog","cat","fish","dog"]
for item in a_list:
     print(item)

1
2
3
dog
cat
fish
dog

In [37]:
# Two functions useful for going through a list are len() and range() len() will return an integer that is the length of a collection

# range() will generate a list of numbers we can use, usually in a loop we can call range with 1, 2, or 3 arguments

# if we pass one input to range(x), it generates a list from 0 (inclusive) to x (exclusive)
# if we pass two inputs to range(x,y) it generates a list from x (inclusive) to y (exclusive)
# if we pass three inputs to range(x,y,z) it generates a list from x to y using a step or increment of size z. z can be negative or positive.

In [38]:
# Here is a more complex for loop using the range() function

for i in range(5):
    print(i)

print("end of loop." + "\n")

# If we input 5, x starts at 0 and increments until 4.
# It doesn't increment to 5 because the range parameter is exclusive.

0
1
2
3
4
end of loop.

In [39]:
# Using two values, the start and stop values
start = 1
stop = 5
for j in range(start, stop):
    print(j)
print("end of loop 2" + "\n")

1
2
3
4
end of loop 2

In [40]:
# Using three values, the start, stop, and step values
start = 1
stop = 7
step = 2
for k in range(start, stop, step):
    print(k)
print("end of loop 3" + "\n")

1
3
5
end of loop 3

len() method returns the length of a list, string, dictionary, or any other iterable data format in Python. 

If we use len() method on a list, it returns the number of items in the list.

In [41]:
# Finally, we can use this to access a list.
a_list = [1,2,3,"dog","cat"]
for l in range(len(a_list)):
    print(a_list[l])
print("end of list (indexing)")
print()

for item in a_list:
    print(item)
print("end of list (iterate over elements)")

1
2
3
dog
cat
end of list (indexing)

1
2
3
dog
cat
end of list (iterate over elements)

### While Loops:
On the other hand while loops will allow you to keep running a block of code until a condition is met. While a for loop can do the same thing as a while loop, they have different strengths for different use cases. A while loop to do the same thing as the for loop above is more complex

In [42]:
# This accomplishes the same thing as the above for loop
# We would generally use the for loop instead of while loop in this case
i = 0
a_list = [1,2,3,"dog","cat","fish","dog"]
while i < len(a_list):
    print(a_list[i])
    i = i + 1
    
# Unlike the for loop, you need to manually increment your index variable so that the while loop doesn't run forever

1
2
3
dog
cat
fish
dog

In the above example, theres not really a reason to use a while loop instead of a for loop. But a while loop's condition can be anything, so it can be really powerful.

In [43]:
# In this instance, the condition to loop is whether the item at the index in the list is not a string
# As soon as the item at the current index is a string, we exit loop
i = 0
a_list = [1,2,3,"dog","cat","fish","dog"]
while type(a_list[i]) is not str:
    print(a_list[i])
    i = i + 1

1
2
3

Because anything that evaluates to a boolean can be used as a condition, we can use True and have a while loop run forever.

If we need to get out early, we can use the command break, which will always get you out of the most recent loop.

In [44]:
i = 0
while True:
    print("Hello! " + str(i))
    if i >= 5:
        print("Breaking out of while loop" + "\n")
        break
    i += 1

Hello! 0
Hello! 1
Hello! 2
Hello! 3
Hello! 4
Hello! 5
Breaking out of while loop

In [45]:
# break command also works with for loops
a_list = ["snake", "elephant", "mouse", "dog", "cat", "fish", "dog"]

for animal in a_list:
    print("Current animal: " + str(animal))
    if animal == "dog":
        print("Breaking out of while loop.")
        break
    else:
        print("Not a dog.")

Current animal: snake
Not a dog.
Current animal: elephant
Not a dog.
Current animal: mouse
Not a dog.
Current animal: dog
Breaking out of while loop.

### Functions:

Now that we have learned the basics, we are ready for functions, We've already been using them. When we want to use a function we use the f_name() format. So print(), range(), len(), type() are all functions python already gives to us!

Functions are sections of code that are CALLABLE,

that means throughout our code we can "summon" that code we created once to run

A function WILL NOT run unless called.

A Parameter is a variable we can pass into a function in order to change the function's behavior

In [46]:
# We use def to define a function, then all parameters are inside the parenthesis
# This function multiplies 2 numbers together and returns the result

def my_func(x, y):     
    z = x * y
    if z > 0:
        print(z)
    return z # return statements are optional.

# Functions with a return statement can pass its operation result into another variable

In [47]:
# Now we will test our function
my_func(2, 3)
return_val = my_func(-2, 4)
print(return_val)
# Notice how these variables now contain what we specified by the return statement

6
-8

Today we have learned everything from the basic Python types, all the way up to crafting simple functions. This is as far as this lesson will go. If anyone has any questions, I would be happy to clarify now!