<a href="https://colab.research.google.com/github/cynthialmy/Python-Intro-Workshop-2021/blob/master/Python_Intro_Workshop_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 3 Introductory Workshop

### Topics
    - Why Python?
    - Variables
    - Operators
    - Collections
    - Conditionals
    - Loops

### Why Python?
Python is known for being one of the most versitile and easy to use languages
    
    - Simple syntax makes it easy to learn
    - Easy and intuitive to read, even with minimal programming knowledge
        - Ex. string.lower(); string.upper();
    - Great for prototyping and quickly writing working code
    - Portable across systems; As long as Python is installed it will run on any operting system
    
Popular uses for Python include

    - Mathematics and Big Data
        Packages used for reading, manipulating, and analyzing data quickly(Numpy, Pandas)
    - Data Visualization
        Packages used for visualizing data on plots, graphs (Matplotlib, Plotly)
    - Webb Development
        Python offers many framework, which have been used to power some of the worldâ€™s most popular sites such as Instagram, Spotify, Dropbox, Reddit, Netflix and Yelp.
    - Simple Scripting
        Writing a functional program that performs an individual task (rasberry pi)

In [ ]:
# Anything that comes after a # on the same line is a comment
# Python ignores it, but it lets us humans take notes on what we did

### Variables

Variables are the building blocks in Python. We use variables to store information that we want to use later. 

To create a variable and assign it to a value/piece of information, we use =. 

Here, we're going to look at 4 primitive (basic) variable types:
    
    -integers
    -floats
    -strings
    -booleans

##### Integers

Integers: positive or negative numbers WITHOUT decimal places - the same as in math.

In [ ]:
myInt = 5
print(myInt)
print(type(myInt))

5
<class 'int'>

If we want to see the value stored in a variable, we can use the built-in print( ) function.

The print() function will show us whatever is inside the ( ) to our console, for Colab, the console will appear below our code blocks

#### Floats
Floating point numbers: numbers WITH decimal places.

In [ ]:
floatingPointNumber = 5.5
print(floatingPointNumber)
print(type(floatingPointNumber))

5.5
<class 'float'>

##### Strings
Sequence of characters surrounded by "" or ''(double quotes or single quotes)

In [ ]:
#String examples:
string1 = "hello"
string2 = '3'
string3 = "Hi 'Pam'"
print(string1)
print(string2)
print(string3)
# Double quoted strings ("") can have single quotes ('') in them
# Single quoted strings can have double quotes in them

# According to Python Coding Standards:
# Use single-quotes for string literals, e.g. 'my-identifier', but use double-quotes for strings 
# that are likely to contain single-quote characters as part of the string itself 
# (such as error messages, or any strings containing natural language), e.g. "You've got an error!".

#  Reason:
#  Single-quotes are easier to read and to type, but if a string contains single-quote characters then 
# double-quotes are better than escaping the single-quote characters or wrapping the string in double single-quotes.

# We also use triple single-quotes for docstrings, but more on that later.

hello
3
Hi 'Pam'

We can access strings through indexing. Indexing a string will allow us to access specific letters in the string. In python, we use [] to access specific letters with 0 being the first character and -1 being the last.

In [ ]:
a_string = "hello"
# print h:
print(a_string[0])
# print o:
print(a_string[4])

h
o

##### Booleans
Boolean variables either have the value True or False.

In [ ]:
#used in IF-conditionals such as checking if a variable is a specific datatype, if an integer is a specific number, etc

a_bool = True # any non-zero number as a boolean will be cast to True
b_bool = False # 0 will be cast to False

If we want to make a variable but have nothing in it, not even the value 0, we use None. This gets helpful in some more advanced programs, but for the basics, just know it exists. 
It is a useful thing to check when passing variables to different functions to ensure that input is correct. You always want to check that your input is not None and that it is not outside the bounds of what you need it to be for that function to ensure that someone can't break your code. 
Ex. Temperature

In [ ]:
myVar = None
print(myVar)
print(type(myVar))

None
<class 'NoneType'>

If we want to know the type of a variable, we can use the type( ) function

In [ ]:
a_string = "hello"
print(type(a_string))

<class 'str'>

You can name a variable almost anything you want with just a few rules

    - can't start a variable name with numbers
    - can't have a space in a variable name
    
You should generally follow a few guidelines as well

    - start a variable name with a lowercase letter
    - keep them descriptive

### Operators

Operators let us do things with variables and values, such as add, subtract, or compare them. 

We have already seen one operator: the assigment operator (=) lets us assign values to variables. 

The basic operators to know are
    
    assignment: =
    addition/concatenation: +
    subtraction: -
    multiplication: *
    floating point division: /
    integer division: //
    modulo: %
    exponentiation: **
    comparisons: <, <=, >, >=, !=, ==
    Boolean Operations: or, and, not

When we use + on two numbers, it works as addition just like in math. We can add different types of numbers together, such as floats and integers.

In [ ]:
beam = 9
balance = 9.9
bars = 7.5

#find total score:
print(beam+balance+bars)
print(type(beam+balance+bars))

26.4
<class 'float'>

When we use + on two strings, it concatenates them, we can use them with variables, strings, or both. + won't add spaces between strings though, so we have to do it manually.

In [ ]:
a_string = "hello"
b_string = "17"

print(a_string + b_string)
print(a_string + " " + b_string)

hello17
hello 17

We can't mix and match strings and numbers though, if we want to, we have to "cast" them with Pythons built-in casting system.

In [ ]:
#checking for types is useful for debugging
print(4 + int('3')) #causes an error

7

Subtraction (-) works the same way as addition, but only works with numerical vaules

In [ ]:
a_float = 6.8 
a_int = 2

print(a_float - a_int) # a_int = 6

4.8

Multiplication operator (*)

In [ ]:
# multiplication: 
print(3*4)

# with strings:
# what would you do to get the string "hello hello hello"
print("hello "*3)

#exponents: 
print(2**4)

12
hello hello hello
16

Division 
- floating point division: /
- integer division: //

Modulo (%)

In [ ]:
# floating point division: 
print(5/3)

# floor division (this will drop the decimal part and floor it): 
print(5//3)

# modulo (this gives us the remainder):
print(5 % 3)

1.6666666666666667
1
2

Comparison operators:


- less than 
- greater than 
- less than or equal to 
- greater than or equal to
- not equals 
- equality

In [ ]:
# Comparison operators return boolean values (True or False)
# its worth taking extra care: == is equals. = is assignment.

# testing comparison operators:
beam = 9
balance = 9.9

print(beam < balance)

True

In [ ]:
# Boolean operators: or, and, not 
# Use these operators to combine boolean values (true and false)

# Ex. Weather!

cold = True 
windy = False

print(cold and windy)

False

In [ ]:
# OR returns True if either one is True
print(True or True)
print(True or False)
print(False or False)

# AND returns True only if both are True
# Something cannot be be True AND False at the same time

# NOT returns the opposite value (flip a boolean value)
print(not True)

True
True
False
False

### Collections

A lot of the time, we will be working with a lot of numbers, and we need some way to arrange those numbers that make sense. Let's say we want a list of all the buildings in Atlanta. Making 100 or 200 variables for each building would be tedious! 

Python has a good range of collections to help us with this, the four most useful being:

    - Lists
    - Sets
    - Dictionaries
    - Tuples

###### Lists

Now we'll talk about lists.
Lists are great when we have some ORDERDED DATA and WE HAVE DUPLICATES.

In [ ]:
# There are two ways to make an empty list
atl_buildings = list()
atl_buildings = []

# We can make one with information already in it if we want. We can also have a mix of strings and numbers in a list. 
atl_buildings = ["Accenture", "Coca-cola", "NCR", "Pencil Building", "UHouse"]
print(atl_buildings)

# We can access a list just with []. The index 0 is the first element in the list. 
atl_buildings[1] = "Coke"
print(atl_buildings)
# We can also change an element in the list using indices.

['Accenture', 'Coca-cola', 'NCR', 'Pencil Building', 'UHouse']
['Accenture', 'Coke', 'NCR', 'Pencil Building', 'UHouse']

In [ ]:
atl_buildings = ["Accenture", "Coca-cola", "NCR", "Pencil Building", "UHouse"]

# We can add to the end of a list with List.append(value)
atl_buildings.append("Coda")
print(atl_buildings)

# We can add an element at a certain index in a list using List.insert(index, value). 
atl_buildings.insert(2, "Coda")
print(atl_buildings)

['Accenture', 'Coca-cola', 'NCR', 'Pencil Building', 'UHouse', 'Coda']
['Accenture', 'Coca-cola', 'Coda', 'NCR', 'Pencil Building', 'UHouse', 'Coda']

In [ ]:
# There are a few ways to remove from a list

# We can remove an item using List.remove(value) - only removes the FIRST OCCURRENCE in the list
atl_buildings.remove("NCR")
print(atl_buildings)

# List.pop() will remove and return the value at the LOCATION we want
# we can save it to a variable for later! List.pop(index)

# if we dont specify an index, the LAST element will be removed
popped_element = atl_buildings.pop(3)
print(atl_buildings)
print(popped_element)

['Accenture', 'Coca-cola', 'Coda', 'Pencil Building', 'UHouse', 'Coda']
['Accenture', 'Coca-cola', 'Coda', 'UHouse', 'Coda']
Pencil Building

In [ ]:
# Time for a new operator, "in"
# We can check to see if something is in our list (or any other collection!) using the "in" operator:
print("UHouse" in atl_buildings)
print("Google" in atl_buildings)

True
False

###### Sets

Sets are just like sets in math, they are a grouping of information that is NON-ORDERED and DO NOT CONTAIN DUPLICATES. We can store multiple types of data in a set - so a set can include strings, integers, floating point values, etc.

In [ ]:
# There is only one way to make an empty set
buildings_set = {}

# We can make one with information already in it if we want
buildings_set = {"Coca-cola", 711}


# to add to a set we use the Set.add() function
buildings_set.add("NCR")
print(buildings_set)

# we can remove from the set with Set.remove()
buildings_set.remove(711)
print(buildings_set)

{711, 'NCR', 'Coca-cola'}
{'NCR', 'Coca-cola'}

###### Dictionaries

Dictionaries have information stored in Key:Value pairs, it lets us associate data with other data rather than just an index (or location)

In [ ]:
# There are two ways to make an empty dictionary

# If we want to make one with information already in it
a_dict = {"StudentNo":5555, "major":"Computer Science"}
print(a_dict)

# We can add to the dictionary by defining a NEW KEY
a_dict["Student Name"] = "John"
print(a_dict)

# If the key is already in the dictionary, we OVERWRITE the old data, its gone forever
a_dict["major"] = "Biology"
print(a_dict)

{'StudentNo': 5555, 'major': 'Computer Science'}
{'StudentNo': 5555, 'major': 'Computer Science', 'Student Name': 'John'}
{'StudentNo': 5555, 'major': 'Biology', 'Student Name': 'John'}

In [ ]:
# If we don't know a key, we can get a list of keys back! 
print(a_dict.keys())

# We can also get a list of values back:
print(a_dict.values())

# If we want to remove something from the dictionary we use Dict.pop(key)
# we need to tell it what key we want removed. It gives us (or "returns") the value back to save
popped = a_dict.pop("major")
print(a_dict)
print(popped)

dict_keys(['StudentNo', 'major', 'Student Name'])
dict_values([5555, 'Biology', 'John'])
{'StudentNo': 5555, 'Student Name': 'John'}
Biology

###### Tuples

Next we'll touch on Tuples.
We use tuples when we have a small amount of ordered data we want to save.

In [ ]:
# Theres only one way to make tuple
a_tup = (1, 2, 3, "dog")

# just like with a string and a list, we can access a tuple using []

print(a_tup[1]) # remember we count from 0 in Python programming!

2

Once we make a tuple, we can't change it. This is the reason we would pick a tuple over a List.
If we want to change it, we have to make a new tuple
we can however, assign that tuple to the same variable as the old one

In [ ]:
a_tup = (1,2,3,"dog") # so things don't break if you re-run

# a_tup[1] = 1 # Python yells at us! We can't use indices to change a value in a tuple. 

# if I want to change 2 to "cat":

b_tup = (a_tup[0], "cat", a_tup[2], a_tup[3])

print(a_tup)
print(b_tup)

(1, 2, 3, 'dog')
(1, 'cat', 3, 'dog')

Tuples, Lists, Sets, and Dictionaries can hold any and all kinds of data we want. So we can put a List inside a List, a Dictionary inside a Dictionary, or a List inside a Set. Though its best to avoid doing this unless you need to.

In [ ]:
a_dict = {"StudentNo":5555, "major":"Computer Science", "name": "John"}
b_dict = {"StudentNo":3333, "major":"Computer Engineering"}
list_student = [a_dict, b_dict]
print(list_student)

[{'StudentNo': 5555, 'major': 'Computer Science', 'name': 'John'}, {'StudentNo': 3333, 'major': 'Computer Engineering'}]

### Conditionals

Conditional statements are used to execute a certain command only if certain requirements are met.

The basic conditionals are if, elif, and else.

Conditional statements are interpreted from start to end. Python will first interpret the if statement, then move to elif in the order they were written, then finally the else (note: elif and else ARE NOT required)

Ex. Income taxes/tax brackets

We use a colon (:) to end the line that contains the conditional
The : tells python that the next line should be a nested block of code; this is the block of code that runs if the conditional is true. 

The elif conditional is only evaluated if the original if statement fails.
the else conditional is only evaluated if both the original if statement and all elifs between fail.

Because the blocks of code associated with the elif conditional and the else conditional are not executed, we skip them as well.

In [ ]:
a_tup = ("dog", "cat", "horse")

if ("dog" in a_tup):
    print("bark")
elif "cat" in a_tup:
    print("meow")
else:
    print("I am not a dog or cat")

bark

In [ ]:
if "dog" in a_tup:
    # since there is an if directly after this, this if statement stands alone
    print("bark")
if "cat" in a_tup:
    print("squeak")
else:
    # This else statement belongs to the If Directly above it. The first if is independent
    print("I am not a dog or a mouse")
# therefore both the first if, and the else statement are executed.

bark
squeak

### For loops:
Probably the most powerful tool in a programming language is the ability to iterate over every item with one statement this is done using for loops.

Ex. Income statements: if we had the incomes of 1000 people in a list and we wanted to determine their income tax, it would be tedious to do this manually for every single person. Instead, we can loop through every element in the list using a for loop. 

Python has a very simple method for writing for loops

In [ ]:
# x is representing an item in the list
a_list = [1,2,3,"dog","cat","fish","dog"]

# write a for loop that iterates through the list: 
for item in a_list:
     print(item)

1
2
3
dog
cat
fish
dog

In [ ]:
# Two functions useful for going through a list are len() and range(). 

# len() will return an integer that is the length of a collection
print(len(a_list))

7

In [ ]:
# range() will generate a list of numbers we can use, usually in a loop we can call range with 1, 2, or 3 arguments

# if we pass one input to range(x), it generates a list from 0 (inclusive) to x (exclusive)
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# if we pass two inputs to range(x,y) it generates a list from x (inclusive) to y (exclusive)
for i in range(5,10):
  print(i)

5
6
7
8
9

In [ ]:
# if we pass three inputs to range(x,y,z) it generates a list from x to y using a step or increment of size z. z can be negative or positive.
for i in range(5,10,2):
  print(i)

5
7
9

In [ ]:
# Finally, we can use this to access elements of a list.
a_list = [1,2,3,"dog","cat"]
for i in range(len(a_list)):
    print(a_list[i])
print("end of list (indexing)")
print()

for item in a_list:
    print(item)
print("end of list (iterate over elements)")

1
2
3
dog
cat
end of list (indexing)

1
2
3
dog
cat
end of list (iterate over elements)

### While Loops:
On the other hand while loops will allow you to keep running a block of code until a condition is met. While a for loop can do the same thing as a while loop, they have different strengths for different use cases. 

Typically, use a while loop when you don't know how many times you will iterate and use a for-loop when you have a set numbers of times to iterate.

Ex. Guessing a password

In [ ]:
# This accomplishes the same thing as the above for loop
# We would generally use the for loop instead of while loop in this case
i = 0
a_list = [1,2,3,"dog","cat","fish","dog"]
while i < len(a_list):
    print(a_list[i])
    i = i + 1
    
# Unlike the for loop, you need to manually increment your index variable so that the while loop doesn't run forever

1
2
3
dog
cat
fish
dog

In the above example, theres not really a reason to use a while loop instead of a for loop. But a while loop's condition can be anything, so it can be really powerful.

In [ ]:
# In this instance, the condition to loop is whether the item at the index in the list is not a string
# As soon as the item at the current index is a string, we exit loop
i = 0
a_list = [1,2,3,"dog","cat","fish","dog"]
while type(a_list[i]) is not str:
    print(a_list[i])
    i = i + 1

1
2
3

Because anything that evaluates to a boolean can be used as a condition, we can use True and have a while loop run forever.

If we need to get out early, we can use the command break, which will always get you out of the most recent loop.

In [ ]:
i = 0
while True:
    print("Hello! " + str(i))
    if i >= 5:
        print("Breaking out of while loop" + "\n")
        break
    i += 1

Hello! 0
Hello! 1
Hello! 2
Hello! 3
Hello! 4
Hello! 5
Breaking out of while loop

In [ ]:
# break command also works with for loops
a_list = ["snake", "elephant", "mouse", "dog", "cat", "fish", "dog"]

for animal in a_list:
    print("Current animal: " + str(animal))
    if animal == "dog":
        print("Breaking out of while loop.")
        break
    else:
        print("Not a dog.")

Current animal: snake
Not a dog.
Current animal: elephant
Not a dog.
Current animal: mouse
Not a dog.
Current animal: dog
Breaking out of while loop.

### Functions:

Now that we have learned the basics, we are ready for functions, We've already been using them. When we want to use a function we use the f_name() format. So print(), range(), len(), type() are all functions python already gives to us!

Functions are sections of code that are CALLABLE and perform a specific task. 

Callable means that throughout our code we can "summon" that code we created once to run with a function call. 

A function WILL NOT run unless called.

A Parameter is a variable we can pass into a function in order to change the function's behavior

In [ ]:
# We use def to define a function, then all parameters are inside the parenthesis
# This function multiplies 2 numbers together and returns the result

def my_func(x, y):     
    z = x * y
    if z > 0:
        print(z)
    return z # return statements are optional.

# Functions with a return statement can pass its operation result into another variable

In [ ]:
# Now we will test our function
my_func(2, 3)
return_val = my_func(-2, 4)
print(return_val)
# Notice how these variables now contain what we specified by the return statement

6
-8

Today we have learned everything from the basic Python types, all the way up to crafting simple functions. This is as far as this lesson will go. If anyone has any questions, I would be happy to clarify now!